body{
    background-color: hotpink;
}


p{ 
    color: greenyellow;
}


h1{
    color: chartreuse;
    font-family: Arial;
    text-align: center;
    font-size: 22px;
}

.viktigaste{
    border-width: 4px; 
    border-style:dotted;
    border-color: blueviolet;
    padding: 1em;
}



.programinfo{
    color: aquamarine;
    background-color: bisque;
    text-align: center;
}


.tankar{
    text-align: right;
}

.bild{
    max-width: 50%;
    max-height: auto;
}

.länk{
    text-decoration: none;
    color: inherit;
    
}

.länk:hover{
    cursor: pointer;
}


