


body{
    background-color: hotpink;
}

.wrapper{
    background-color: antiquewhite;
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-rows: 80px 50px auto auto;
    grid-template-areas: 
    "header"
    "nav"
    "main"
    "footer";
}


header {background-color: aqua;
    grid-area: header;
}


nav{
    background-color: azure;
    grid-area: nav;
}

nav > ul{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 100%;
    margin: 0;
    padding: 0;
}

nav li{
    list-style-type: none;
    text-align: center;
    display: grid;
    align-items: stretch;
}


main{
    background-color: blanchedalmond;
    grid-area: main;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;

}

footer{
    background-color: aquamarine;
    grid-area: footer;
}


p{ 
    color: greenyellow;
}


h1{
    color: chartreuse;
    font-family: Arial;
    text-align: center;
    font-size: 22px;
}

.viktigaste{
    border-width: 4px; 
    border-style:dotted;
    border-color: blueviolet;
    padding: 1em;
    color: blue;
}
.intressen{
    padding: 1em;
    color: brown;
}


.programinfo{
    color: aquamarine;
    background-color: bisque;
    text-align: center;
    padding: 1em;
}


.tankar{
    text-align: right;
    color: crimson;
    padding: 1em;
}

.bild{
    max-width: 50%;
    max-height: auto;
}

.hotdog{
    max-width: 15%;
    max-height: auto;
}

.länk{
    text-decoration: none;
    color: inherit;
    
}

.länk:hover{
    cursor: pointer;
}


